* {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

/* navbar */
.nav-container {
  z-index: 99;
  margin: 1rem 2rem;
}

.nav-link {
  color: #fff;
  font-weight: 600;
  margin: 0 1rem;
}

.nav-link:hover {
  color: #727272;
}

.navbar-brand img {
  width: auto;
  height: 52px;
}

/* Jumbotron */
#desktop-video {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#mobile-video {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.jumbotron {
  height: 100vh;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.jumbotron .col-md-8 {
  overflow: hidden;
}

.jumbotron .container .col-md-8 h1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-top: 250px;
  font-size: 2rem;
  font-weight: 40;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -4px;
  transform: scale(1, 1.3);
  -webkit-transform: scale(1, 1.3);
  -moz-transform: scale(1, 1.3);
  -ms-transform: scale(1, 1.3);
  -o-transform: scale(1, 1.3);
  overflow: hidden;
}

/* Partner */
#partner {
  position: relative;
  background-color: #000;
  padding: 1rem 0 4rem 0;
}

#partner .col-1 {
  overflow: hidden;
  height: 4rem;
}

#partner .col-12 {
  overflow: hidden;
  height: 4rem;
}

#partner img {
  height: 100%;
  width: auto;
  margin: 0 2rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s;
}

#partner img:hover {
  transform: scale(1.2);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Maps */
iframe {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Footer */
footer {
  position: relative;
  color: #727272;
  margin: 3rem 3rem 0 3rem;
}

.copyright {
  font-size: 0.5rem;
}

.contact h5 {
  font-size: 1rem;
  text-align: center;
}

.contact h5 a {
  color: #727272;
  text-decoration: none;
}

.contact h5 a:hover {
  text-decoration: underline;
}

.social-media a {
  color: #727272;
  font-size: 0.8rem;
  margin: 1rem 0.5rem;
}

@media (min-width: 992px) {
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: background-color 200ms linear;
  }

  .jumbotron .container .col-md-8 h1 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin-top: 250px;
    font-size: 4rem;
    font-weight: 40;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -7px;
    transform: scale(1, 1.3);
    -webkit-transform: scale(1, 1.3);
    -moz-transform: scale(1, 1.3);
    -ms-transform: scale(1, 1.3);
    -o-transform: scale(1, 1.3);
    overflow: hidden;
  }

  #partner img {
    height: 3rem;
    width: auto;
    margin: 0;
  }

  footer {
    margin: 5rem 5rem 0 5rem;
  }

  .copyright {
    font-size: 1rem;
  }

  .contact h5 {
    text-align: end;
  }

  .social-media a {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
}
